{% extends "base.html" %}
{% block content %}
<h2>Lista de Clientes</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo Electrónico</th>
            <th>Fecha de Creación</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client.first_name }}</td>
            <td>{{ client.last_name }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}